.main-home{
    background: url(images/bg2.jpg);
    height: auto;
    width: auto;
}
.mhl{
    padding-top: 15px;
    text-align: center;
    justify-content:center;
}
.mh-img{
    height: 60vh;
    width: 40vw;
    border-radius: 0 50px 0 50px;
}

.mid-home{
    text-align: center;
}
.company-banner{
    width: 60vw;
    height: 40vh;
}


.pics{
    height: 150px;
    width: 150px;
}
.content{
    width: 40vw;
}
.test{
    justify-content: space-evenly !important;
}
.final{
    height: 50vh;
    width: auto;
}

/* ----------------------------------------------------------------- */

.footer{
    height: auto;
    width: auto;
    background-color: black;
    padding: 3rem;
    display: flex;
    position: sticky;
    
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.footer a  :hover{
    text-decoration: none;
    font-weight:bolder;
}
.flogo{
    height: 8.5rem;
    width: 10rem;
}
.noinfo{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: itim;
}

.footer-l{
    margin: 0.5rem;
    height: 45vh;
    width: 20vw;
    color: aliceblue;
    line-height: 20px;
}
.footer-l .p{
    height: auto;
    width: auto;
}
.footer-m{
    margin: 0.5rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    height: 45vh;
    width: 35vw;
    color: aliceblue;
}
.footer-m ul{
    list-style-type: none;
}
.footer-m h2{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: aboreto;
}
.footer-m h3{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: itim;
}
.footer-r{
    margin: 0.5rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    height: 45vh;
    width: 20vw;
    color: aliceblue;
}
.footer-r h2{
    font-weight: bold;
    font-size: 2rem;
    font-family: aboreto;
}
.footer-r h3{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: itim;
}




@media (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-l{
        margin: 0.25rem;
        padding-left:1rem;
        height: auto;
        width: auto;
        color: aliceblue;
        line-height: 10px;
    }
    .footer-m{
        margin: 0.25rem;
        padding-top: 0.75rem;
        padding-left: 1rem;
        height: auto;
        width: auto;
    }
    .footer-m h2{
        font-size: 1.5rem;
    }
    .footer-m h3{
        font-size: 0.75 rem;
        margin-top: 0.5rem;
    }
    .footer-r{
        margin: 0.25rem;
        padding-left: 1rem;
        height: auto;
        width: auto;
        line-height: 10px;
    }
    .footer-r h2{
        font-size: 1.5rem;
    }
    .footer-r h3{
        font-size: 1.5rem;
        margin-top: 0.75rem;
    }
}